@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
    html
    {
        border-radius: 30px;
        background: #252525;
        color: white;
        font-family: 'Nunito', sans-serif;
    }

    #root
    {
        padding: 3rem 1.5rem;
    }
}

@layer components
{
    .icons
    {
        @apply bg-iconBg p-3 rounded-2xl cursor-pointer
    }

    .modal
    {
        @apply z-20 bg-blackBg rounded-3xl shadow-2xl text-white flex flex-col justify-center items-center gap-3 fixed top-1/2 left-5 right-5 h-[236px]
    }

    .modal-overlay
    {
        @apply z-10 fixed top-0 left-0 w-full h-screen bg-[#ffffff33]
    }
}